<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xukj.kpframework.gallery">

    <application>
        <activity
            android:name="com.xukj.kpframework.gallery.ViewPagerActivity"
            android:theme="@style/KPRNGalleryTheme" />
    </application>
</manifest>
